<html>
  <body>
    <h3>Welcome to Photo Rankr, <%= user.name %>!</h3>
    <p>
      Thanks for signing up. Please verify your email by clicking in this link:
      <a href="<%= verificationUrl %>">Verify Email</a>
    </p>
  </body>
</html>
