<html>
  <body>
    <h3>Password reset</h3>
    <p>
      Forgot your password? Click here to rreset your password:
      <a href="<%= verificationUrl %>">Reset Password</a>
    </p>
  </body>
</html>
